<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="content">
    <div id="search-box">
      <p>検索してね</p>
      <%= form_tag(action: "recipe_search2") do %>
        <%= text_field_tag(
            :search, nil,
            id: "recipe_search",
            name: "keyname",
            placeholder: "食材名や料理名",
            style: "width: 200px;"
        )%>
        <button title="検索" type="submit">検索</button>
      <% end %>
  </div>
  <div class="content">
    <div id="search-box">
      <p>よく食べるもの</p>
        <%= form_tag(action: "food_join") do %>
          <%= text_field_tag(
            :search, nil,
            id: "recipe_search",
            name: "keyname",
            placeholder: "よく食べるもの",
            style: "width: 200px;"
          )%>
          <button title="追加" type="submit">追加</button>
          <% end %>
    </div>
    <div>
      <% @joins_box.each do |i| %>
      <%= link_to(i :action => 'join_search')%>
      <% end %>
    </div>
</body>
</html>